.twin-container {
  display: flex;
}
.product-container {
  width: 80%;
  margin-left: 20px;
  margin-right: 5px;
  border-right: 1px solid grey;
}
.product-container {
  height: 550px;
  margin-left: 0px;
}
