.bg-image img {
    width: 100%;
    
  }
  
  
  .search {
    color: white;
    position: absolute;
    bottom: 70%;
    margin-left: 40%;
  }
  .search input {
    height: 35px;
    border-radius: 60px;
    border: none;
  
  }
  .search button {
    position: absolute;
    height: 40px;
    border: none;
    width: 80px;
    border-radius: 60px;
    background-color: red;
  
  }

  /* movile screen */
  @media only screen and (max-width: 600px) {
   
    .search {
      color: white;
      position: absolute;
      bottom: 77%;
      margin-left: 35%;
    }
  }
  