.bg-image img {
    width: 100%;
    
  }
  
  
  .search {
    color: white;
    position: absolute;
    bottom: 70%;
    margin-left: 40%;
  }
  .search input {
    height: 35px;
    border-radius: 60px;
    border: none;
  
  }
  .search button {
    position: absolute;
    height: 40px;
    border: none;
    width: 80px;
    border-radius: 60px;
    background-color: red;
    cursor: pointer;
  
  }
.pd-btn{
  text-align: center;
  

}
.pd-btn button{
  width: 101px;
  height: 30px;
  margin-left: 5px;
  border-radius: 5px;
  border: none;
  background-color: rgb(255, 0, 0);
  color: aliceblue;
 

}

.pd-btn button:hover{
  width: 101px;
  height: 30px;
  margin-left: 5px;
  border-radius: 5px;
  border: none;
  background-color: rgb(49, 138, 31);
  color: aliceblue;

}



  /* movile screen */
  @media only screen and (max-width: 600px) {
   
    .search {
      color: white;
      position: absolute;
      bottom: 77%;
      margin-left: 35%;
    }
  }
  